body{
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgba(128, 128, 128, 0.74);
}
body{
    font-family: 'Numans', sans-serif;
    font-size: 20px;
}
*{
    margin:0px;
    padding:0px;
}
.nav-container{
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}
.nav-container ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-container li{
    margin-right: 20px;
    font-size: 25px;
    color: black;
    
}
.nav-container li:hover{
    font-size: 35px;
}
.nav-container a{
    text-decoration: none;
    color:black;
}
#carte{
    display: flex;
    justify-content: center;
    position: relative;
}
#carte img{
    margin-left: 10%;
    width: 70%;
    height: 600px;
}


.carte-x{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.carte-1{
    background-color: rgba(61, 58, 58, 0.527);
    position: relative;
    top: 170px;
    right: 14vw;
}
.carte-2{
    background-color: rgba(241, 4, 4, 0.527);
    position: relative;
    top: 150px;
    right: 37vw;
}
.carte-3{
    background-color: rgba(32, 219, 32, 0.527);
    position: relative;
    top: 140px;
    right: 37vw;

}
.carte-4{
    background-color: rgba(61, 12, 240, 0.527);
    position: relative;
    top: 160px;
    right: 58vw;
}
.carte-5{
    background-color: rgba(230, 17, 230, 0.527);
    position: relative;
    top: 274px;
    right: 53vw;
}


li{
    font-size: 1.2em;
}

.contenaire img{
    height: 400px;
    width: 500px;
    border: 1px solid grey;
}
.init{
    display: flex;
    justify-content: center;
}
.init ul{
    list-style: none;

}
.init-x{
    display: flex;
    justify-content: center;
}
.init-x ul{
    list-style: none;
}

.ingredients{
    align-self: center;
    margin-left: 1%;
}
.ingredients-x{
    align-self: center;
    margin-left: 1%;
    display: flex;
}
.ingredients-x02{
    margin-left: 1%;
}
.recette{
    display:flex;
    justify-content: space-around;
}
.recette-demi-1{
    margin: 10px 40px 10px 40px;
    width: 50%;
}
.recette-demi-2{
    width: 50%;
    margin: 10px 10px 10px 10px;
}
.recette-y{
    margin-left: 2%;
}
h2{
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-size: 40px;

}
footer{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer a{
    text-decoration: none;
    color: white;
}
.contenaire h3{
    text-align: center;
    margin: 10px 0px 10px 0px;
}
@media screen and (max-width:1446px){
    .carte-1{
        background-color: rgba(61, 58, 58, 0.527);
        position: relative;
        top: 170px;
        right: 15vw;
    }
    .carte-2{
        background-color: rgba(241, 4, 4, 0.527);
        position: relative;
        top: 150px;
        right: 38vw;
    }
    .carte-3{
        background-color: rgba(32, 219, 32, 0.527);
        position: relative;
        top: 140px;
        right: 38vw;
    
    }
    .carte-4{
        background-color: rgba(61, 12, 240, 0.527);
        position: relative;
        top: 160px;
        right: 60vw;
    }
    .carte-5{
        background-color: rgba(230, 17, 230, 0.527);
        position: relative;
        top: 274px;
        right: 57vw;
    }
}