
body {
  display:flex;
  margin: 0;
  color: black;
  font-size:20px; 
}

h2 {
  font-style: bold;
  margin:10px;
  font-size:20px;
  text-align:center;
}

aside {
  float: right;
	width: 300px;
	margin: 20px;
  padding:10px;
  border:solid;

}

/*article {  
  width: 900px;
	margin: 20px;
  padding:10px;
 
}*/
img{
  width: 300px;
  height: 300px;

}
.img-3{
  text-align: center;
}

li {
	display: inline;
	list-style: none; 
	margin: 10 px;
}

li a {
	display: inline-block;
	width: 150px;
	padding: 5px 10px;
	text-decoration: none;
	color: #6B8E23;
	font-weight: bold;
	background: #0000;
} 
footer{
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
}
