
*{
    /*border: 1px solid rgb(20, 20, 20);*/
}
.nav-container{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
li{
    margin-right: 20px;
    font-size: 25px;
    color: black;
    
}
.contact{
    display: flex;

}
.title-h1{
    text-align: center;
}
.title-h1 img{
    height: 300px;
    width: 300px;
}