body{
    font-size: 16px;
}
*{
    margin:0px;
    padding:0px;
    border: 2px solid red;

}
li{
    font-size: 1.2em;
}

img{
    height: 300px;
    width: 300px;
}
.contenaire{
    display: flex;
    flex-flow: wrap;
}
.recette{
    display:flex;
}