body{
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgba(128, 128, 128, 0.74);
}
*{
    margin:0px;
    padding:0px;
    border: 1px solid red;

}
#carte{
    background-image: url("image/carte-du-monde.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% ;
}
.carte-x{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carte-1{
    display: block;
    left: 500px;
    background-color: rgba(61, 58, 58, 0.527);
}

li{
    font-size: 1.2em;
}

img{
    height: 400px;
    width: 500px;
    border: 1px solid grey;
}
.init{
    display: flex;
    justify-content: center;
}
.init ul{
    list-style: none;

}
.init-x{
    display: flex;
}
.init-x ul{
    list-style: none;
}

.ingrediant{
    align-self: center;
    margin-left: 1%;
}
.ingrediant-x{
    align-self: center;
    margin-left: 1%;
    display: flex;
    background-color: blue;
}
.ingrediant-x02{
    margin-left: 1%;
}
.recette{
    display:flex;
    justify-content: space-around;
}
.recette-demi-1{
    color: blue; 
    margin: 10px 20px 10px 20px;
    width: 60%;
}
.recette-demi-2{
    width: 60%;
    margin: 10px 10px 10px 0px;
}
.recette-y{
    margin-left: 2%;
}
h2{
    text-align: center;

}
.contenaire h3{
    text-align: center;
    margin: 10px 0px 10px 0px;
}