.nav-container{
    display: flex;
    justify-content: center;
}
.nav-container ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-container li{
    margin-right: 20px;
    font-size: 25px;
    color: black;
    
}
.nav-container li:hover{
    font-size: 35px;
}
.nav-container a{
    text-decoration: none;
    color:black;
}
h2, h3{
    text-align: center;
}
i{
    font-style: normal;
    font-weight: bold;
}
/**{border: 1px solid red;}*/
img{
    text-align: center;
}